@use "sass:map";

@mixin linearGradient($start: "black", $startOpacity: 1, $end: "black", $endOpacity: 1) {
    @if $start != "" and $end != "" {
        $startColor: map.get($colors, $start);
        $startCss: --color-#{$start};
        $endColor: map.get($colors, $end);
        $endCss: --color-#{$end};
        // #{$type}: rgba-format($color, $opacity);
        // #{$type}: rgba(var($css), $opacity);$opacity

        background-image: linear-gradient(to right, rgba-format($startColor, $startOpacity), rgba-format($endColor, $endOpacity));
        background-image: linear-gradient(to right, rgba(var($startCss), $startOpacity), rgba(var($endCss), $endOpacity));
    }
}
